:root {
  --background-color: #191b1d;
  --color-dark-grey: #191b1d;
  --color-darker-grey: #16191c;
  --color-lightest-grey: #acacac;
  --color-lilac: #e6d7ff;
  --color-dark-lilac: #d2afff;
  --color-off-white: #faf9f6;
  --color-black: #000000;

  --base-fontsize: 10 !important;
  --base-design-width: 375;
  @media (min-width: 675px) {
    --base-fontsize: 10 !important;
    --base-design-width: 1440;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--color-off-white);
  overflow-x: hidden;
  font-size: calc(
    var(--base-fontsize) / var(--base-design-width) * 100vw
  ) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
