@import "tailwindcss";

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes circular-rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes block-slide {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}
